.nav {
  position: fixed;
  top: 0;
  display: flex;
  padding: 20px;
  height: 30px;
  width: 100%;
  z-index: 1;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}
.nav_black {
  background-color: black;
}
.nav_logo {
  position: fixed;
  left: 0;
  width: 80px;
  object-fit: contain;
}
